@font-face {
    font-family: 'Roboto-regular';
    src: url("https://www.fontsquirrel.com/license/roboto") format(truetype);
}
@font-face{
    font-family: 'Shrikhand';
    src: url("https://www.fontsquirrel.com/license/shrikhand") format(truetype);
}
