/*
@font-face {
  font-family: 'Shrikhand';
  src: url('https://www.fontsquirrel.com/licence/Shrikhand') format(truetype);
  src: url('https://www.fontsquirrel.com/license/roboto') format(truetype);
}*/
body {
  box-sizing: content-box;
  width: 100%;
  margin: 0;
}

footer {
  background-color: #303030;
  padding: 15px 0px;
}
footer .footerh1 {
  font-size: 20px;
  color: white;
  padding: 10px 35px;
  font-weight: initial;
}
footer h1,
footer img {
  font-family: shrikhand;
}
footer li {
  color: white;
  margin: 7px 0px;
}

ul {
  margin: 0px;
}
ul li {
  list-style-type: none;
}

img {
  width: 100%;
  object-fit: cover;
  max-width: fit-content;
}

.logo {
  display: block;
  width: 50%;
  margin: 10px auto;
}

h2,
h3,
p,
.PLATS,
.titrerecette {
  font-family: "roboto";
}

h1 {
  margin: 0;
  font-family: "Shrikhand";
}

h2 {
  font-size: 20px;
}

h3 {
  font-weight: lighter;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.lienblock {
  display: block;
}

/* COMMUN */
.buttonviolet {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  padding: 10px 30px;
  justify-self: center;
  margin: 10px 80px;
  box-shadow: 0px 10px 7px #EFEFEF;
  border: none;
}

.header {
  display: block;
  margin: auto;
}

/* COMMUN */
/* ACCUEIL */
#searchbar {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  height: 35px;
  width: 100%;
}
#searchbar #champ {
  border: none;
  background-color: #e2e2e2;
  margin-left: 15px;
}
#searchbar > i {
  padding-top: 10px;
}

.number {
  display: block;
  background-color: #9356DC;
  border-radius: 70%;
  font-weight: bolder;
  color: white;
  width: 10px;
  height: 10px;
  padding: 2px 5px 9px 6px;
  position: absolute;
  margin-left: 10px;
}

#fonctionnement .all .searchbar {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 15px;
  box-shadow: 8px 8px 8px #e7e7e7;
  margin-bottom: 15px;
  justify-content: space-between;
  margin-left: 20px;
}
#fonctionnement .all .searchbar > i {
  padding: 13px 10px 0px 20px;
}
#fonctionnement .all .searchbar p {
  width: max-content;
}

.principal {
  background-color: #f2f2f2;
  display: grid;
  padding: 10px;
}
.principal .title {
  display: flex;
  justify-content: space-between;
}
.principal article {
  background-color: white;
  max-width: fit-content;
  border-radius: 15px;
  margin-bottom: 20px;
}

.ensemble {
  display: flex;
}
.ensemble .resto {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 15px;
}
.ensemble h2 {
  margin: 10px 0px;
}
.ensemble .heart {
  padding-top: 42px;
}
.ensemble .heart > i {
  animation-name: heart;
  animation-duration: 12s;
}

/* RESTAURANTS */
.PLATS {
  background: white;
  margin: 5px 0px;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 16px #d3d1d1;
}
.PLATS .titrerecette {
  font-size: 20px;
  font-weight: bolder;
}
.PLATS .description {
  color: #444;
  font-size: 15px;
}
.PLATS .prix {
  font-weight: bolder;
  float: right;
  font-size: 15px;
}

#reserver {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 15px;
  background-color: #f2f2f2;
}
#reserver #sous {
  padding: 0px 30px;
  margin: 5px 0px;
}

@keyframes heart {
  from {
    color: none;
  }
  to {
    background-image: linear-gradient(#FF79DA, #9356DC);
  }
}

/*# sourceMappingURL=style.css.map */
