/* COMMUN */



/* ACCUEIL */

#searchbar{
    display: flex;
    justify-content: center;
    background-color:$buttonback;
    height:35px;
    width: 100%;
    #champ{
        border: none;
        background-color:$buttonback;
        margin-left: 15px;
    }
    >i{
        padding-top: 10px;
    }
}

.number{
    display: block;
    background-color:$primaire;
    border-radius: 70%;
    font-weight: bolder;
    color: white;
    width: 10px;
    height: 10px;
    padding:2px 5px 9px 6px;
    position: absolute;
    margin-left: 20px;
}

#fonctionnement{
    padding:10px;
    .all{
        .searchbar{
            display: flex;
            background-color: $background;
            border-radius: 15px;
            box-shadow: 8px 8px 8px $ombre;
            margin: 15px 30px;
            justify-content: center;
            &:hover{
                background-color: $mix;
            }
            i{
                padding: 13px 10px 0px 20px;
                display: flex;
                flex-basis: 13%;
                color: $primaire;  
            }
            p{
                flex-basis: 70%;
                display: flex;
                justify-items: center;
            }
        }
    } 
}

.first{
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .title{
        display: flex;
        justify-content: space-between;
    }
    article{
        background-color: white;
        max-width: fit-content;
        margin: 10px 10px 20px 10px;
        .new{
            color: #1d964f;
            background-color: #7ee7aa;
            position: relative;
            padding: 7px;
            top: 60px;
            left: 233px;
            width: 70px;
        }
    }
    img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.principal{
    background-color: $background;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    .title{
        display: flex;
        justify-content: space-between;
    }
    article{
        background-color: white;
        max-width: fit-content;
        margin: 10px 10px 20px 10px;
    }
    img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.ensemble{
    display: flex;
    .resto{
        display: flex;
        flex-direction: column; 
        width: 286px;
        padding-left: 15px;
    }
    h2{
        margin:10px 0;
    }
    .heart{
        font-size: 26px;
        background-color: white;
        border: 0;
        border-radius: 15px;
        #plein{
            display: none;
        }
        #vide{
            display: block;
        }
        &:hover{
            #vide{
                display: none;
            }
            #plein{
                color: $primaire;
                display: block;
                background: -webkit-linear-gradient(205deg, $primaire, $secondaire);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


/* RESTAURANTS */

.PLATS{
    background: white;
    margin: 5px 0px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 16px #d3d1d1;
    display: flex;
    justify-content: space-between;
    .titrerecette{
        font-size: 20px;
        font-weight: bolder;
    }
    .description{
        color: #444;
        font-size: 15px;
    }
    .prix{
        font-weight: bolder;
        float: right;
        font-size: 15px;
        border: none;
        background: none;
        padding-top: 15px;
    }
    .valide{
        display: none;
    }
    &:hover{
        .prix{
            display: block;
        }
        .valide{
            padding-top: 15px;
            background-color: green;
            color: white;
            border: none;
        }
    }
    
    #reserver{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 15px;
        background-color: $background;
        #sous{
            padding: 0px 30px;
            margin:  5px 0px;
        }
    }
}