/* COMMUN */



/* ACCUEIL */

#searchbar{
    display: flex;
    justify-content: center;
    background-color:$buttonback;
    height:35px;
    width: 100%;
    #champ{
        border: none;
        background-color:$buttonback;
        margin-left: 15px;
    }
    >i{
        padding-top: 10px;
    }
}

#francaise{
    @include imgback("../../MaquettesOhmyfood/MaquettesOhmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    top: 65px;
    position: relative;
    margin-top: -50px;
}

#delice{
    @include imgback("../../MaquettesOhmyfood/MaquettesOhmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

#palette{
    @include imgback("../../MaquettesOhmyfood/MaquettesOhmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#enchante{
    @include imgback("../../MaquettesOhmyfood/MaquettesOhmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    img{
        height: 252px;
    }
}

.number{
    display: block;
    background-color:$primaire;
    border-radius: 70%;
    font-weight: bolder;
    color: white;
    width: 10px;
    height: 10px;
    padding:2px 5px 9px 6px;
    position: absolute;
    margin-left: 20px;
}

#fonctionnement{
    padding:10px;
    .all{
        .searchbar{
            display: flex;
            background-color: $background;
            border-radius: 15px;
            box-shadow: 8px 8px 8px $ombre;
            margin: 15px 30px;
            justify-content: center;
            &:hover{
                background-color: $mix;
            }
            i{
                padding: 13px 10px 0px 20px;
                display: flex;
                flex-basis: 13%;
                color: $primaire;  
            }
            p{
                flex-basis: 70%;
                display: flex;
                justify-items: center;
            }
        }
    } 
}

.first{
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .title{
        display: flex;
        justify-content: space-between;
    }
    article{
        background-color: white;
        max-width: fit-content;
        margin: 10px 10px 20px 10px;
        .new{
            color: #1d964f;
            background-color: #7ee7aa;
            width: 80px;
            height: 30px;
            float: left;
            position: absolute;
            margin: 10px 0 0 230Px;
            padding: 10px 0 0 8px;
            font-family: "roboto";
            font-size: 15px;
        }
    }
    img{
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

.principal{
    background-color: #f2f2f2;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: grid;
    z-index: 1;
    position: relative;
    padding-top: 40px;
    .title{
        display: flex;
        justify-content: space-between;
        >i{
            padding-right:15px;
        }
    }
    article{
        background-color: white;
        max-width: fit-content;
        margin: 10px 10px 20px 10px;
    }
    img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    i{
        font-size: 22px;
        padding-top: 8px;
    }
    h3{
        margin-bottom: 0;
    }
}

.ensemble{
    display: flex;
    .resto{
        display: flex;
        flex-direction: column; 
        width: 286px;
        padding-left: 15px;
    }
    h2{
        margin:10px 0;
    }
    .heart{
        font-size: 26px;
        background-color: white;
        border: 0;
        border-radius: 15px;
        padding-right: 20px;
        .plein{
            display: none;
        }
        .vide{
            display: block;
        }
        &:hover{
            .vide{
                display: none;
            }
            .plein{
                color: $primaire;
                display: block;
                background: linear-gradient(205deg, $primaire, $secondaire);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}


/* RESTAURANTS */

.PLATS{
    background: white;
    margin: 5px 0px;
    border-radius: 15px;
    box-shadow: 4px 4px 16px #d3d1d1;
    display: flex;
    justify-content: space-between;
    .command{
        padding: 10px 0 10px 10px;
    }
    .titrerecette{
        font-size: 16px;
        font-weight: bolder;
        padding: 10px 5px;
    }
    .description{
        color: #444;
        font-size: 14px;
        padding: 10px 5px;
    }
    .animation{
        display: flex;
        .prix{
            font-weight: bolder;
            float: right;
            font-size: 15px;
            align-self: center;
            padding-right: 10px;
            &:hover + .valide{ 
                display:block;
                transition: all 4s;
            }
        }
        &:hover .valide{ 
            display:block;
            transition: all 4s;
        }
        .valide{
            padding: 10px 13px 5px 13px;
            background-color: #7ee7aa;
            color: white;
            border: none;
            border-radius: 0 15px 15px 0;
            display: none;
        }
    }
}

#reserver{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15px;
    background-color: $background;
    #sous{
        padding: 0px 30px;
        margin:  5px 0px;
    }
}