$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#c7f5e9;

h1, img{
    font-family:shrikhand;
}

img{
    width: 100%;
    object-fit: cover;
    max-width: fit-content;
}

h2,p{
    font-family:roboto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    box-sizing: content-box;
    width: 100%;
}

.principal{
    background-color:$tertiaire;
}